/*
Project: HeadCrusherSite
	ventana: Tour Dates
		bones: tourDates.html ; Style: tourStyle.css

Author: GustavoCalderón
BoxName:HeadCrusaher
BoxStyle: 
Box: Cubic
framework: bootstrap, flexbox

 */

/*defines custom font*/
/*BoxStyle: Cubic*/
/*Style Body*/
body { 
	background: #0b0b0b;
	font-family: 'El Messiri', sans-serif;
	
}
html {
	height: 100%;
}



/*********************navbar styles and logos**************/


.btn-default {
	text-transform: capitalize;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-left>img {
	width: 40px;
	display: inline-block;
	padding-top: 10px;
}
.navbar-inverse {
    background-color: rgba(10,10,6,1);
    border-color: #080808;
    /*box-shadow: 6px 6px 6px rgba(87, 87, 87, 0.6)*/
}

/**********************end navbar *******************/

/*Text and Headders*/

h1 {
	
	font-size: 80px;
	color: white;
	margin: auto;
}


h2 {
	font-size: 40px;
	text-align: center;
	color: rgb(254,254,254);
	padding-top: 20px;
}

h3 {
	font-size: 20px;
	text-align: right;
	color: white;
	padding-right: 25px;

}

p	{
	font-size: 16px;
	color: white;
	padding: 0 25px;
	text-align: right;
}


/********************** cabezal style************************/


div#cabezal {
	display: flex;
	height: 500px;
	min-width: 100%;
	padding-top: 54px;
	background: rgba(6, 11, 11, 0.8);
	background-image: url(http://headcrusher.net/DCWSTour.jpg);
	background-size: cover;
	background-position-y: -25px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 0px 0px 6px 7px;
-moz-border-radius: 0px 0px 6px 7px;
-webkit-border-radius: 0px 0px 6px 7px;
border: 2px solid transparent;
	box-shadow: 6px 12px 18px rgba(6, 11, 11, 1);
}

#cabezal > div.container {
	width:900px; max-width: 100%;
}

div#videoPromo {
	display: flex;
}
div#videoPromo> iframe {
	margin: 42px auto;
}





/*fin cabezal*/

/*****************************COMIENZO CONTENIDO********************/


/********************title banner***************/



.titleBanner {
	background-color: rgba(10, 10, 6, 1);
	width: 100%;
	min-height: 90px;
	height: auto;
	display:flex;
		
}
.alignBox {
	background: url(http://headcrusher.net/chalice.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	margin:auto;

}


/********************** end title banner*********************/

/*************************video*****************************/



#tourDates {
	background: url(http://headcrusher.net/bg-monje.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.showDates {	
	padding: 45px 0 20px 0;
}

#TxDates {
	background: url(http://www.headcrusher.net/TxMap.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	justify-content:space-around;
	padding: 150px 45px 45px 45px;
	flex-wrap: wrap;
}

#ColDates {
	background: url(http://www.headcrusher.net/ColDates.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	justify-content:space-around;
	padding: 150px 45px 45px 45px;
	flex-wrap: wrap;
}

@media (min-width: 900px) {
	#TxDates {
	background: url(http://www.headcrusher.net/TxMap.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	display:flex;
	justify-content:space-around;
	padding: 150px 45px 45px 45px;
	flex-wrap: wrap;
}

#ColDates {
	background: url(http://www.headcrusher.net/ColDates.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	display:flex;
	justify-content:space-around;
	padding: 150px 45px 45px 45px;
	flex-wrap: wrap;
}

}

 #TxDates > div.showDay {
	display: flex; padding-top: 10px;
	flex-direction: column;
	flex-basis: 20%;
	height: 400px;
	border: 2px solid white;
	text-align: center;
	background: rgba(56,56,56, 0.6);
	box-shadow: 10px 10px 10px rgba(6,11,11,1);
}

#ColDates > div.showDay {
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	height: 400px;
	border: 2px solid white;
	background: rgba(56,56,56, 0.6);
	text-align: center;
	box-shadow: 10px 10px 10px rgba(6,11,11,1);
}
.showInfo {
	margin: auto;
	
}
a.ticket {
	margin: 10px;
}
div#moreDates>h3 {
	background: rgba(6,11,11,.3);
	margin-top:0;
	padding-bottom: 5px;
}
img.colPoster {
	width: 100%;
}
img.TxPoster {
	width: 100%;
}



/**************photo section*****************/

/*footer titles */
#logos {
	width:50%;
}
#feet {
	background: rgba(10,10,6,1);
	min-width: 100%;
	position: relative;
	bottom: 0px;

}

/*sponsor Links

/*Links*/
#footLinks {
	padding-left: 0px;
	float: right;
	width: 15%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-left: 2px solid silver;
}
#footLinks>ul>li a {
	color: #33302C;
	padding-left: 0;
	font-size: 12px;
	text-align: right;
}
#footLinks>ul>li:hover a  {
	color: #202E26;
	text-decoration: none;
	padding-left: 0;
	font-size: 12px;
}

#footLinks>ul {
	color: #33302C;
	padding-left: 0;
	list-style: none;
	position: relative;
	right: 0;
	bottom: 0;
	text-align: end;
}

/*Auspicios*/
#sponsor {
	width: 65%;
}
.auspicios {
	float: left;
	padding: 5px;
}
/*logo auspicios*/
#rLogo {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#tNLogo {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#lWALogo{
	width: 100px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#ebsLogo{
	width: auto;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#espLogo{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#tLogo {
	width: 120px;
	height: auto;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


